<p>get-all works!</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">IdUsuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">ApellidoPaterno</th>
      <th scope="col">ApellidoMaterno</th>
      <th scope="col">Telefono</th>
      <th scope="col">CURP</th>
      <th scope="col">Rol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <th>{{usuario.IdUsuario}}</th>
      <td>{{usuario.Nombre}}</td>
      <td>{{usuario.ApellidoPaterno}}</td>
      <td>{{usuario.ApellidoMaterno}}</td>
      <td>{{usuario.Telefono}}</td>
      <td>{{usuario.CURP}}</td>
      <td>{{usuario.Rol.Nombre}}</td>
    </tr>
  </tbody>
</table>

