<p>get-all works!</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">IdUsuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">ApellidoPaterno</th>
      <th scope="col">ApellidoMaterno</th>
      <th scope="col">Telefono</th>
      <th scope="col">CURP</th>
      <th scope="col">Rol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <th>{{usuario.idUsuario}}</th>
      <td>{{usuario.nombre}}</td>
      <td>{{usuario.apellidoPaterno}}</td>
      <td>{{usuario.apellidoMaterno}}</td>
      <td>{{usuario.telefono}}</td>
      <td>{{usuario.curp}}</td>
      <td>{{usuario.rol.nombre}}</td>
    </tr>
  </tbody>
</table>

